<div class="card-columns mx-auto">
    {{#each deaths}}
        <div class="card border-warning mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">{{death}}</h4>
            <p class="card-text"><strong>Cause:</strong> {{cause}}</p>
            <p class="card-text"><strong>Responsible:</strong> {{responsible}}</p>
            <p class="card-text"><strong>Last Words:</strong> <em>"{{last_words}}"</em></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Season {{season}}, Episode {{episode}}</small>
        </div>
        </div>
    {{/each}}
</div>